/* Zmenšujeme velikost a umístění tlačítka pro zavření */
.alert-wrapper .btn-close {
    padding: 1.2rem 1rem;
    font-size: 0.8rem;
    margin-top: -0.35rem;
    opacity: 0.5;
}

/* Greeting Dashboard Table Styles */
.greeting-table {
    table-layout: fixed;
}

.greeting-table td input[type="checkbox"] {
    pointer-events: none; /* Let the cell click handle selection */
}

.greeting-table td {
    cursor: pointer;
}

/* Ensure empty cells don't look broken */
.greeting-table td.empty-cell {
    pointer-events: none;
    background-color: transparent !important;
}

/* Force DataTables pagination to look like .pagination-sm always */
.card-body .pagination .page-link {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
}

/* Override DataTables Select Blue Color */
#myTabContent .greeting-table tbody > tr > td.selected {
    background-color: #ABBCCC !important; /* Dark Gray */
    color: white !important;
}
