
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> IDE and OS files ###
# JetBrains IDEs (e.g., PhpStorm)
.idea/

# Visual Studio Code
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Temporary/Backup files
*~
*.bak
*.swp
