monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
        - polygraphy

when@dev:
    monolog:
        handlers:
            polygraphy_log:
                type: stream
                path: "%kernel.logs_dir%/polygraphy.log"
                level: debug
                channels: ["polygraphy"]
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event", "!polygraphy"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            polygraphy_log:
                type: stream
                path: "%kernel.logs_dir%/polygraphy.log"
                level: debug
                channels: ["polygraphy"]
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event", "!polygraphy"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            polygraphy_log:
                type: rotating_file
                path: "%kernel.logs_dir%/polygraphy.log"
                max_files: 10
                level: info
                channels: ["polygraphy"]
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!deprecation", "!polygraphy"]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: stream
                path: php://stderr
                level: debug
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json
